.character {
  display: flex;
  align-items: center;
  flex-direction: column;

  //border-radius: 15px;
  //background-color: rgba(0, 176, 200, 0.78);
  opacity: 1;

  z-index: 10;

  &__title {
    margin: 0;

    text-align: center;
    font-size: 36px;
    color: rgb(0, 176, 200);
    text-shadow: rgba(132, 247, 58, 0.86) 1px 0.6px 0.8px;
  }

  &__image {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    //border: 3px rgba(132, 247, 58, 0.6) solid;
    box-shadow: 0 0 81px -10px #84F73A;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 20 20 100px -10px #84F73A;
    }
  }
}
